<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pospi.pai.yunpos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 调用照相机的权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 读写卡的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.hardware.usb.accessory" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.pospi.util.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.pospi.pai.yunpos.Main_Login"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity"></activity>//选择图片
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity"></activity>//预览图片

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pospi.pai.yunpos"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver android:name="com.pospi.receiver.MyBroadCastReceiver">
            <intent-filter>
                <action android:name="com.sunmi.hcservice"/>
                <action android:name="com.sunmi.hcservice.status"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.pospi.pai.yunpos.login.SpalishActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pospi.pai.yunpos.cash.QueryYeActivity"/>
        <!--<activity-->
        <!--android:name="cc.lotuscard.LotusCardDemoActivity"-->
        <!--android:screenOrientation="landscape">-->

        <!--<intent-filter>-->
        <!--<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->

        <!--<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->
        <!--</intent-filter>-->

        <!--<meta-data-->
        <!--android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
        <!--android:resource="@xml/device_filter" />-->
        <!--</activity>-->

        <activity
            android:name="com.pospi.pai.yunpos.util.ModifiedDialogActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.pospi.pai.yunpos.util.DiscountDialogActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.pospi.pai.yunpos.util.ChuZhiKaDialogActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.pospi.pai.yunpos.util.PaySuccessDialogActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.pospi.pai.yunpos.util.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/DialogTransparent" />
        <activity
            android:name="com.pospi.pai.yunpos.cash.SaleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.vip.VipActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.CgddActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.CgDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.CgshListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.PointActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.SupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.ReceiveBillListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.ReceiveDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.cash.MenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.SearchReceiveBillActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.RefundBillListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.RefundDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.SearchRefundBillActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.GoodsReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.GoodsReportSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.InventorySearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.InventorySearchDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.KHBillListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.KHSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.KhReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.SyySaleReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.KHDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.SearchBillActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.StoreReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.StoreReportSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.YWReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.YWSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.SaleCateDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.vip.VIPFavourActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.vip.VipReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.more.ScaleGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.more.ScaleMangerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.vip.VipSalesSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.pospi.pai.yunpos.report.SaleCateReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.SaleCateSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.OverFlowListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.PdDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.PdListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.OverFlowDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.OverFlowSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.CountsDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.CountsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.caigou.CountsSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.DboOutDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.DboOutListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.DboReceiveListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.DboSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.DboDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.PointGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.bh.SupBillSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.bh.SupDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.bh.SupAotoListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.bh.SupGoodsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.CustSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.OutBillListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.OutDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.PointGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.RefundBillListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.RefundDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.RefundSearchBillActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.SaleDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.SaleListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.SearchOutBillActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.xs.SearchXsBillActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.vip.VIPRegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.login.MainPospiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pospi.pai.yunpos.login.Main_Menu"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pospi.pai.yunpos.cash.PoiSelectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pospi.pai.yunpos.cash.PointActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pospi.pai.yunpos.login.UserLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.SyyPayReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.SyyOrderReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.CgGoodsReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.DbGoodsReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.PdGoodsReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.PsGoodsReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.XsChartReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.XsPiReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.XsColumReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.JxcReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.DboChaYListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.PsChaYListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.PsOutDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.PsOutListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.PsReceiveDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.diaob.PsReceiveListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.report.SyyGoodsReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.pay.PayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name="com.pospi.pai.yunpos.more.RestOrderActivity" />
        <activity
            android:name="com.pospi.printer.PrintActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pospi.printer.BluetoothDeviceList"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.pospi.printer.UsbDeviceList"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.pospi.printer.WifiDeviceList"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.pospi.pai.yunpos.more.StatisticsActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.more.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pospi.pai.yunpos.more.RefundsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pospi.pai.yunpos.more.LsjChangeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pospi.pai.yunpos.more.PopChangeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pospi.pai.yunpos.more.LockActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- <activity -->
        <!-- android:name=".TableActivity" -->
        <!-- android:screenOrientation="landscape" /> -->

        <service
            android:name="com.gprinter.service.GpPrintService"
            android:enabled="true"
            android:exported="true"
            android:label="GpPrintService">
            <intent-filter>
                <action android:name="com.gprinter.aidl.GpPrintService" />
            </intent-filter>
        </service>

        <service android:name="com.gprinter.service.AllService" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.pospi.pai.yunpos.cash.ScanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.pospi.pai.yunpos.table.SetTableActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <receiver
            android:name="com.pospi.util.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.pospi.pai.yunpos.pay.ScanPayActivity"
            android:theme="@style/ScanDialogBg" />
        <activity
            android:name="com.pospi.pai.yunpos.util.PortConfigurationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/port_configuration"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.pospi.pai.yunpos.wifi_printer.PrintActivity" />

        <!-- 蓝牙设备 -->
        <activity
            android:name="com.pospi.pai.yunpos.util.BluetoothDeviceList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/bluetooth_device_list"
            android:theme="@android:style/Theme.Dialog" />
        <!-- USB设备 -->
        <activity
            android:name="com.pospi.pai.yunpos.util.UsbDeviceList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/usb_devices_list"
            android:theme="@android:style/Theme.Dialog" />

        <receiver android:name="com.pospi.pai.yunpos.util.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- <activity android:name="com.pospi.util.SuActivity"></activity> -->
        <activity android:name="com.pospi.pai.yunpos.TestActivity" />
        <activity android:name="com.pospi.pai.yunpos.wifi_printer.PrintActivity" />
        <activity android:name="com.pospi.pai.yunpos.util.UrlSettingActivity" />
        <activity android:name="com.pospi.pai.yunpos.util.PrinterConnectDialog" />

        <service android:name="com.pospi.service.UpLoadService" />
        <service android:name="com.pospi.service.ERPService" />

        <receiver android:name="com.pospi.service.ErpReceiver" />
        <receiver android:name="com.pospi.service.UpLoadReceiver" />

        <activity
            android:name="com.pospi.pai.yunpos.cash.OrderDiscountActivity"
            android:theme="@style/Transparent2" />


        <meta-data
            android:name="design_width_in_dp"
            android:value="1500"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="1920"/>
    </application>

</manifest>